<%= render(layout: 'layouts/modules/page_plate')  do %>
    <h1 class="plate-header">Change password for <%= @user.name %> - <%= @user.email %></h1>

    <div class="alert alert-info">
      Passwords must be at least 6 characters or longer.
    </div>

    <%= form_for(@user, url: save_password_by_admin_user_path(@user), html: {class: 'form-vertical'}) do |f| -%>
        <% if @user.errors.any? %>
            <section class="error_explanation">
              <h1 class="alert-heading"><%= pluralize(@user.errors.count, "error") %> prohibited the password from being saved:</h1>
              <ul>
                <% @user.errors.messages.each_value do |msg| %>
                    <li><%= msg[0] %></li>
                <% end %>
              </ul>
            </section>
        <% end %>
        <fieldset>
            <%= f.label(:password, t('users.choose_new_password')) %>
            <%= f.password_field(:password, class: 'input-xlarge') %>

            <%= f.label(:password_confirmation, t('users.label.enter_new_password_again')) %>
            <%= f.password_field(:password_confirmation, class: 'input-xlarge') %>
        </fieldset>
        <fieldset>
            <%= f.button(t('button.save'), class: 'btn btn-primary') %>
            <%= link_to(t('button.cancel'), account_path(@user.account.id, anchor: 'account-users'), class: 'btn btn-link') %>
        </fieldset>
    <% end -%>
<% end %>