<% body_id 'page-listing-gallery' %>
<% content_for(:back_button) do %>
    <%= link_to('back', mobile_listing_path(@listing), class: 'button ml10', :'data-spinner' => 'spinner') %>
<% end %>
<article class="listing">
    <h1 class="listing-header"><%= @listing.headline %></h1>
    <h2 class="listing-location"><%= image_tag("flags/iso32/#{@listing.country_code.downcase}.png", alt: @listing.country_code) %> <%= @listing.postal_town %>, <%= @listing.country %></h2>


<ul id="Gallery" class="gallery">
    <% @photos.each do |photo| %>
        <li><%= link_to(image_tag(photo.image.size_170, alt: photo.caption.blank? ? photo.caption : ''), "#{photo.image.size_458}") %></li>
    <% end %>
</ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
    var myPhotoSwipe = $("#Gallery a").photoSwipe({enableMouseWheel: false, enableKeyboard: false});
});
</script>