<% body_id 'listings' %>
<% if permitted_to?(:index, :agent_dashboards) and session[:dashboard] == 'admin' or session[:dashboard] == 'agent' %>
<div class="row">
  <div class="span12">
    <%= render(partial: 'layouts/editing_listing_alert', locals: {listing: @listing}) %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span3">
    <%= render(partial: 'listings/change_my_listing_menu', locals: {listing: @listing}) %>
  </div>

  <div class="span9">
    <div id="header-container">
      <%= render(partial: '/listing/header', locals: {listing: @listing, active_listing: @active_listing}) %>
    </div>

    <div class="plate">
      <%= render(partial: '/layouts/modules/screen_header', locals: {header: "#{t('listing.header.main_settings')} - #{@listing.listing_number}", body_text: t('listings.main_settings_body_text')}) %>
      <%= render(partial: '/listings/overview_status_and_actions', locals: {listing: @listing, section_id: 'status-action', header: t('listings.listing_visibility_hotlist_status')}, layout: '/layouts/modules/plate_section') %>
      <%= render(partial: '/listings/headlines/main_headline', locals: {listing: @listing, section_id: 'main-headline', header: t('listings.listing_headline')}, layout: '/layouts/modules/plate_section') %>
      <%= render(partial: '/listings/main_photos/main_photo_manager', locals: {listing: @listing, main_photo: @listing.get_main_photo, section_id: 'main-photo', header: t('listings.images.header.main_photo')}, layout: '/layouts/modules/plate_section') %>

      <div class="row-fluid mb10">
        <div class="span12">
          <section id="children-and-pets" class="group">
            <h1><%= t('listings.children_and_pets') %></h1>
            <div class="content">
              <div class="mb10">
                <%= link_to(t('global.edit'), edit_listing_rule_url(@listing), remote: true, id: 'btn-rules', class: 'btn btn-small') %>
             </div>
              <%= render(partial: '/listing/rules/placeholder', locals: {listing: @listing}) %>
            </div>
          </section>
        </div>
      </div>

      <div class="row-fluid mb10">
        <div class="span12">
          <section id="property-details" class="group">
            <h1><%= t('listings.header.property_details') %></h1>
            <div class="content">
              <div class="mb10">
                <%= link_to(t('global.edit'), edit_listing_property_detail_url(@listing), remote: true, id: 'btn-property-details', class: 'btn btn-small') %>
              </div>
              <%= render(partial: '/listing/property_details/placeholder', locals: {listing: @listing, property_details: @property_details}) %>
            </div>
          </section>
        </div>
      </div>

      <div class="row-fluid mb10">
        <div class="span12">
          <section id="settings" class="group">
            <h1><%= t('global.settings') %></h1>
            <div class="content">
              <div class="mb10">
                <%= link_to(t('global.edit'), edit_listing_property_setting_url(@listing), remote: true, id: 'btn-property-settings', class: 'btn btn-small') %>
              </div>
              <%= render(partial: '/listing/property_settings/placeholder', locals: {listing: @listing, property_details: @property_details}) %>
            </div>
          </section>
        </div>
      </div>

      <div class="row-fluid mb10">
        <div class="span12">
          <section id="location" class="group">
            <h1><%= t('listings.location.header.your_listings_location') %></h1>
            <div class="content">
              <% if @listing.postal_town && @listing.country %>
                <div class="alert alert-info">
                  <p class="alert-message"><%= t("listing.custom_headline_contact_agent_message", custom_headline: @listing.city_and_country_headline) %> <%= link_to(t('contacts.headline'), new_agent_contact_message_url) %></p>
                </div>
              <% end %>

              <div class="mb10">
                <%= link_to(t('global.edit'), edit_listing_location_url(@listing), remote: true, id: 'btn-location', class: 'btn btn-small') %>
              </div>

              <div id="location-container">
                <%= render(partial: '/listing/locations/show', locals:{listing: @listing}) %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
   $('a.listing.disabled').tooltip();

   jQuery(document).ready(function($) {
      $('#open-for-all-destinations').on('click', function(event) {
        var form_data = $('#open-for-all-destinations-form').serialize();
        $.post('<%= set_open_for_all_destinations_path %>', form_data, function(data) {
          }, 'script');
      });

      $('.pluploader').each(function(){
        enable_image_upload(this);
      });
  });
</script>
