<%= render( partial: 'menu', object: @account, as: 'account', locals: {listing: @listing}) %>

<div class="row margin-botton">
  <div class="span12">
    <% if @listing.active === true %>
    <div class="alert alert-success">
      <p class="alert-message"><%= t('listings.alert.message.listing_is_online_and_visible_guest_and_members') %></p>
    </div>
    <% else -%>
    <div class="alert alert-warning">
      <p class="alert-message"><%= t('listings.alert.message.this_listing_is_not_online') %></p>
    </div>
    <% end -%>
  </div>
</div>

<div class="row margin-bottom">
  <div class="span12">
    <h2 class="section-header border-top"><%= t('listings.header.enable_or_disable_listing_public_view') %></h2>
    <% if @listing.active === true %>
      <%= link_to( content_tag('i', '', class: 'icon-remove icon-white') + content_tag('span', t('button.disable_for_public_view')), account_listing_disable_url(@account, @listing), class: 'btn btn-danger listing') %>
    <% else -%>
      <%= link_to( content_tag('i', '', class: 'icon-ok icon-white') + content_tag('span', t('button.enable_for_public_view')), account_listing_enable_url(@account, @listing), class: 'btn btn-warning listing') %>
    <% end -%>
  </div>
</div>

<section class="row margin-bottom">
  <div class="span12">
    <h2 class="section-header border-top"><%= t('listings.header.delete_this_listing') %></h2>
    <div class="alert alert-danger">
      <p class="alert-message"><%= t('listings.alert.message.think_hard_before_deleting') %></p>
    </div>
    <%= link_to( content_tag('i','', class: 'icon-trash icon-white') + content_tag('span', t('button.delete_listing')), account_listing_url(@account, @listing), confirm: t('global.are_you_sure'), method: :delete, class: 'btn btn-danger delete' )%>
  </div>  
</section>