<% body_id 'listings' %>
<%= render('accounts/listings/listings_list_menu') %>
<div class="row">
  <div class="span12">
    <h1 class="page-header"><%= t('listing.statistics.header') %></h1>
    <p>Below are your personal member statistics.The first chart shows the top 5 individual countries whose members have visited your listing, the second shows the number of times in a day your listing was displayed to other members over the last 21 days. Visitors in the last 21 days - counts each visit to your listing. Most recent visitors - these are unique visitors - who may have visited more than once in the last 21 days.
    </p>
    
    <% @listings.each do |listing| %>
    <article class="row">
      <div class="span12">
        <h1 class="page-header"><%= t('listing.statistics.your_listing') %> <span class="postal-town"><%= listing.postal_town %></span>, <span class="country"><%= t(listing.country) %></span></h1>
      </div>
      <div id="listing-<%= listing.id %>" class="stats span12 mb40" data-listing="<%= listing.id %>" style="height: 400px"></div>

      <div class="span6">
        <h3 class="section-header"><%= t('statistics.header.top_ten_visitors') %></h3>
        <table class="table table-striped table-condensed visitor-stats">
          <thead>
            <tr>
              <td>#</td>
              <td><%= t('global.visitor') %> <em>(<%= t('dashboards.account_username') %>)</em></td>
            </tr>
          </thead>
          <tbody>
            <% listing.top_visitors(10).each_with_index do |stat, index| %>
            <tr>
              <td><%= index+1 %></td>
              <% if stat['listing_number'] == nil %>
                <td><%= stat['user_name']%> <em>(Has no listing)</em></td>
              <% else %>
                <td><%= link_to(stat['listing_number'], listing_path(stat['listing_id'])) %> (<%= stat['user_name']%>)</td>
              <% end %>
              <td><%= stat['count'].to_i %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="span6">
        <h3 class="section-header"><%= t('listing.statistics.visitor_country') %></h3>
        <div id="piechart-<%= listing.id %>" class="stats" data-listing="<%= listing.id %>" style="height: 400px"></div>
      </div>
      
    </article>
    <% end %>
    
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

      $('.stats').each(function() {
          load_chart_data(this);
      });
  });
</script>