<% body_id 'home-exchange' %>
<% page_title t('visinfo_benefits_of_home_exchange.page.headline') %>
<% page_description t('visinfo_benefits_of_home_exchange.page.headline') + " - " + t('visinfo_benefits_of_home_exchange.promote_goodwill.headline') %>
<% page_keywords t('seo.keyword_set.visinfo.benefits_of_home_exchange') %>
<% section_image 'section-image-2' %>

<div class="row">
  <%= render(:partial => 'pages/exchange/sub_menu') %>

  <article class="page-content">
    <h1 class="page-content-header">
      <span class="page-content-header-label"><%= t('visinfo_benefits_of_home_exchange.page.headline') %></span>
    </h1>

    <h2><%= t('visinfo_benefits_of_home_exchange.promote_goodwill.headline') %> <small><%= t('visinfo_benefits_of_home_exchange.promote_goodwill.subhead') %></small></h2>
    <p><%= t('visinfo_benefits_of_home_exchange.promote_goodwill.text') %></p>

    <h2><%= t('visinfo_benefits_of_home_exchange.eliminate_expenses.headline') %> <small><%= t('visinfo_benefits_of_home_exchange.eliminate_expenses.subhead') %></small></h2>
    <p><%= t('visinfo_benefits_of_home_exchange.eliminate_expenses.text') %></p>

    <h2><%= t('visinfo_benefits_of_home_exchange.extra_luggage.headline') %> <small><%= t('visinfo_benefits_of_home_exchange.extra_luggage.subhead') %></small></h2>
    <p><%= t('visinfo_benefits_of_home_exchange.extra_luggage.text') %></p>

    <h2><%= t('visinfo_benefits_of_home_exchange.comfort.headline') %> <small><%= t('visinfo_benefits_of_home_exchange.comfort.subhead') %></small></h2>
    <p><%= t('visinfo_benefits_of_home_exchange.comfort.text') %></p>

    <h2><%= t('visinfo_benefits_of_home_exchange.security.headline') %></h2>
    <p><%= t('visinfo_benefits_of_home_exchange.security.text') %></p>
    <p><%= t('visinfo_benefits_of_home_exchange.security.pets_text') %></p>

    <h2><%= t('visinfo_benefits_of_home_exchange.planet_friendly.headline') %></h2>
    <p><%= t('visinfo_benefits_of_home_exchange.planet_friendly.text') %></p>
  </article>
</div>
