<% body_id 'home-exchange' %>
<% page_title t('docs_prepare_for_guests.visinfo_checklist.headline') %>
<% page_description t('docs_prepare_for_guests.visinfo_checklist.headline') + " - " + t('docs_prepare_for_guests.page.headline') %>
<% page_keywords t('seo.keyword_set.visinfo.home_exchange_checklist') %>
<% section_image 'section-image-4' %>

<div class="row">
  <%= render(:partial => 'pages/exchange/sub_menu') %>

  <article class="page-content">
    <h1 class="page-content-header">
      <span class="page-content-header-label"><%= t('docs_prepare_for_guests.visinfo_checklist.headline') %></span>
    </h1>

    <h2><%= t('docs_prepare_for_guests.page.headline') %></h2>
    <p><%= t('docs_prepare_for_guests.page.introtext') %></p>
    <ul class="article">
      <li><%= t('docs_prepare_for_guests.list.bottle_of_wine') %></li>
      <li><%= t('docs_prepare_for_guests.list.beds_and_food') %></li>
      <li><%= t('docs_prepare_for_guests.list.staple_foods') %></li>
      <li><%= t('docs_prepare_for_guests.list.clean_refrigerator') %></li>
      <li><%= t('docs_prepare_for_guests.list.pay_your_bills') %></li>
      <li><%= t('docs_prepare_for_guests.list.appliance_instructions') %></li>
      <li><%= t('docs_prepare_for_guests.list.pets_and_plants') %></li>
      <li><%= t('docs_prepare_for_guests.list.emergency_phone_numbers') %></li>
      <li><%= t('docs_prepare_for_guests.list.security_instructions') %></li>
      <li><%= t('docs_prepare_for_guests.list.local_life') %></li>
      <li><%= t('docs_prepare_for_guests.list.store_breakables') %></li>
      <li><%= t('docs_prepare_for_guests.list.wardrobe_space')  %></li>
      <li><%= t('docs_prepare_for_guests.list.internet_access')  %></li>
      <li><%= t('docs_prepare_for_guests.list.expense_notebook') %></li>
      <li><%= t('docs_prepare_for_guests.list.off_limits') %></li>
      <li class="last"><%= t('docs_prepare_for_guests.list.info_pack') %></li>
    </ul>

    <h2><%= t('docs_before_you_go_home.page.headline') %></h2>
    <p><%= t('docs_before_you_go_home.page.introtext') %></p>

    <ul class="article">
      <li><%= t('docs_before_you_go_home.list.replace_basic_foods') %></li>
      <li><%= t('docs_before_you_go_home.list.clean_up') %></li>
      <li><%= t('docs_before_you_go_home.list.leave_cash') %></li>
      <li><%= t('docs_before_you_go_home.list.leaving_early') %></li>
      <li><%= t('docs_before_you_go_home.list.security') %></li>
      <li><%= t('docs_before_you_go_home.list.say_thank_you') %></li>
    </ul>
  </article>
</div>
