<% body_id 'messages' %>
<div class="row">
    <div class="span3">
        <%= render(partial: 'conversation_menu') %>
    </div>
    <div class="span9">
        <%= link_to(t('conversations.archive'), archive_conversation_url(@conversation), class: 'btn btn-small', style: 'margin-bottom: 10px;') %>
        <div class="plate">
            <section class="message-wrap">
                <header class="message">
                    <h1 class="subject">
                        <%= @conversation.subject %>
                    </h1>
                    <span class="message-from">
                        <%= t('global.from') %>
                        <% if @conversation_partner %>
                            <% @conversation_partner.listings.each do |listing| %>
                                <%= link_to(listing.listing_number, listing_path(listing)) %>
                            <% end %>
                        <% end %>
                    </span>
                </header>
                <article class="thread">
                    <% @messages.each do |m| %>
                        <% if m.sent_by_account == current_user.account_id %>
                            <section class="thread-message right">
                                <div class="thread-user right">
                                    <strong><%= t('conversation.you_wrote_on', {MESSAGE_DATE: message_date(m.updated_at)}) %></strong>
                                </div>
                                <div class="message-note right">
                                    <%= markdown_strip_tags(m.body) %>
                                    <% m.attachments.each do |attachment| %>
                                        <p>
                                            <i class="icon-file"></i> <%= link_to(t('conversation.view_attachment'), "#{attachment.file}") %>
                                        </p>
                                    <% end %>
                                </div>
                            </section>
                        <% else %>
                            <section class="thread-message">
                                <div class="thread-user">
                                    <strong><%= t('listing.text.user_wrote_on', {SENT_BY_USER: m.sent_by_user, MESSAGE_DATE: message_date(m.updated_at)}) %></strong>
                                </div>
                                <div class="message-note">
                                    <%= markdown_strip_tags(m.body) %>
                                    <% m.attachments.each do |attachment| %>
                                        <p>
                                            <i class="icon-file"></i> <%= link_to(t('conversation.view_attachment'), "#{attachment.file}") %>
                                        </p>
                                    <% end %>

                                </div>
                            </section>
                        <% end %>
                    <% end -%>
                </article>
                <footer class="message">
                    <% if not invalid_account_and_conversation?(current_user, @conversation) %>
                        <% permitted_to? :create, :conversations do %>
                            <form class="form-inline mb0">
                                <%= render(partial: 'message_templates/message_template_selector', locals: {message_templates: @message_templates, input_class: 'span3'}) %>
                            </form>

                            <%= form_for(@conversation, method: :put, html: {id: 'message-form', class: 'message form-inline', :multipart => true}) do |f| %>
                                <% if @error_message %>
                                    <div class="alert alert-danger">
                                        <strong><%= @error_message %></strong>
                                    </div>
                                <% end %>
                                <fieldset id="message-field">
                                    <%= fields_for(:message) do |m| %>
                                        <%= m.text_area(:body, rows: 8, id: 'message', :'data-class' => 'message-template-target') -%>
                                    <% end -%>
                                </fieldset>

                                <fieldset id="reply-button">
                                    <div class="is-inline mr40">
                                        <%= f.button(t('button.reply'), type: :submit, class: 'btn btn-primary', disable_with: t('conversation.button.sending_message')) %>
                                    </div>
                                    <div class="is-inline">
                                        <label for="file-attachment" class="mr20">
                                            <i class="icon-file"></i> <%= t('conversation.text.attach_file_to_message') %>
                                        </label>
                                        <%= file_field_tag(:file, id: 'file-attachment') %>
                                    </div>
                                </fieldset>
                            <% end %>
                        <% end %>
                        <div class="clear-left"></div>
                        <p class="center"><%= t('conversation.text.attach_file_to_message_limit') %></p>
                    <% else %>
                      <%=
                        badge = 'expired' if has_expired(@conversation.get_conversation_partner(current_user.account_id)) || has_expired(current_user.account)
                        badge = 'terminated' if @conversation.get_conversation_partner(current_user.account_id).try(:terminated)

                        acc = @conversation.get_conversation_partner(current_user.account_id)
                        title = ''

                        if acc && acc.listings.count > 0
                          badge = 'past_member' if acc.listings.first.open_past_listing
                          title = t('conversation.past_member_can_still_receive')
                        end

                        custom_account_status_badge(badge, title)
                      %>
                    <% end %>
                </footer>
            </section>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
  //Make sure we scroll the thread to the bottom
  $("html, body").animate({ scrollTop: $(document).height() }, "slow");


  $('body').on('submit','#message-form', function( event ) {
    if( $('#file-attachment')[0].files[0].size > 10485760) {
      alert("<%= t('global.file_too_large_alert') %>");
      event.preventDefault();
      return false;
    }
  });



  <%= render(partial: '/message_templates/message_template_selector_script.js.erb') %>
</script>
