<% if @orders.empty? %>
<div class="row-fluid">
  <div class="span12">
    <div class="alert alert-info">
      <p class="alert-message"><%= t('account.no_orders') %></p>
    </div>
  </div>
</div>
<% end %>
<% @orders.each do |order| %>
  <dl class="dl-horizontal">
    <dt><%= t('global.order_id') %></dt>
      <dd><%= order.id %></dd>

    <dt><%= t('global.order_number') %></dt>
      <dd><%= order.order_number %></dd>
    
    <dt><%= t('global.account_id') %></dt>
      <dd><%= order.account_id.nil? ? 'Not available' : order.account_id %></dd>
      
    <dt><%= t('payment.label.made_by_member') %></dt>
      <dd><%= @account.contact.email %></dd>
    
    <dt><%= t('global.currency') %></dt>
      <dd><%= order.currency %></dd>
    
    <dt><%= t('payments.total_amount') %></dt>
      <dd><%= order.total_amount %></dd>
    
    <dt><%= t('global.state') %></dt>
      <dd><%= order.state %></dd>
    
    <dt><%= t('global.country') %></dt>
      <dd><%= order.country_short %></dd>
    
    <dt><%= t('payment.promotion_code') %></dt>
      <dd><%= order.promotion_code.nil? ? 'No promotion code' : order.promotion_code %></dd>
    
    <dt><%= t('global.renewal') %></dt>
      <dd><%= order.renewal %></dd>
    
    <dt><%= t('global.upgrade') %></dt>
      <dd><%= order.upgrade %></dd>
    
    <dt><%= t('global.kind') %></dt>
      <dd><%= order.kind.nil? ? 'Not available' : order.kind %></dd>
    
    <dt><%= t('global.price_plan') %></dt>
      <dd><%= order.price_plan_id.nil? ? 'Not available' : Country.get_price_plan_by_country_and_id(@account.country_short, order.price_plan_id).name %></dd>
    
    <dt><%= t('global.ip_address') %></dt>
      <dd><%= order.ip_address.nil? ? 'Not available' : order.ip_address %></dd>
    
    <dt><%= t('payments.unique_payment_id') %></dt>
      <dd><%= order.unique_payment_id.blank? ? 'Not available' : order.unique_payment_id %></dd>
    
    <dt><%= t('payments.paypal_express_id') %></dt>
      <dd><%= order.express_payer_id.blank? ? 'Not available' : order.express_payer_id %></dd>
      
    <dt><%= t('payment.label.completed_at') %></dt>
      <dd><%= order.completed_at.nil? ? 'Has not yet been completed' : order.completed_at %></dd>
      
    <dt><%= t('global.created_at') %></dt>
      <dd><%= order.created_at %></dd>
      
    <dt><%= t('global.updated_at') %></dt>
      <dd><%= order.updated_at %></dd>
  </dl>
<% end %>