<h1><%= t('automated_messages.exchange_agreement_started.header') %></h1>

<p><%= t('automated_messages.exchange_agreement_started.partner_has_started', {:PARTNER_NAME => @owner_account.contact.name, :PARTNER_LISTING_NUMBER => @owner_agreement.listing_number}) %></p>
<p><%= t('automated_messages.exchange_agreement.fill_out_your_terms.html_version', {:MEMBER_EXCHANGE_LINK => link_to(t('automated_messages.go_to_exchange_agreements'), external_domain_link(member_exchange_agreements_path))}) %></p>

<p><%= t('automated_messages.exchange_agreement.have_questions.html_version', {:LOCAL_REPRESENTATIVE_LINK => link_to(t('automated_messages.contact.representative'), external_domain_link(local_representatives_path))}) %></p>

<p><%= t('automated_messages.exchange_agreement.happy_exchange') %> <br />
<%= t('automated_messages.exchange_agreement.intervac_team') %></p>