<h1>Negative feedback report</h1>

<p>
    <%= @answering_account.contact.name %>, <%= @answering_account.country_short %> (<%= @member_agreement.listing_number %>)
    had a bad exchange experience with
    <%= @feedback_account.contact.name %>, <%= @feedback_account.country_short %> (<%= @partner_agreement.listing_number %>)
</p>