<article class="result-card">  
  <div class="card-header">
    <h1 class="location"><span class="postal-town"><%= listing.postal_town %></span>, <span class="country"><%= t(listing.country) %></span> (<%= listing.listing_number %>)</h1>
    <ul class="short-stats">
      <li class="first"><%= t('global.sleeps') %> <%= listing.sleeping_capacity %></li>
      <li><%= t('global.adults') %> <%= listing.account.profile.number_of_adults %></li>
      <li class="last"><%= t('global.children') %> <%= listing.account.profile.number_of_children %></li>
    </ul>
  </div>

  <div class="information">
    <div class="card-photo">
      <% if listing.get_main_photo != nil %>
      <%= link_to(image_tag(listing.get_main_photo.image.size_230, width: 190, alt: listing.get_main_photo.caption, class: 'card-photo'), listing_url(listing)) %>
      <% else %>
      <%= link_to(image_tag('photos-coming-soon-230.jpg', width: 190, alt: '', class: 'card-photo'), listing_url(listing)) %>
      <% end %>

    </div>

    <div class="description">
      <div class="span6">
        <h2><%= listing.headline %></h2>
        <%= raw textilize(truncate(listing.description, length: 300)) %>
      </div>

      <div class="span6">
        <% if notes[listing.id.to_s][:note].blank? %>
        <div class="alert alert-info">
          <p class="alert-message info"><%= t('favorites.notes.alert_message') %></p>
        </div>
        <% else %>
        <%= markdown(notes[listing.id.to_s][:note]) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="exchange-dates">
    <% if listing.exchange_dates.get_latest_period %>
    <span class="dates<%= " valid" if has_valid_exchange_period(listing.exchange_dates.get_latest_period) %>"><span><%= standard_date(listing.exchange_dates.get_latest_period.earliest_date) -%><span> - </span><%= standard_date(listing.exchange_dates.get_latest_period.latest_date) -%></span></span>
    <% else %>
    <span class="dates"><%= t('listings.no_exchange_dates') %></span>
    <% end %>
  </div>
  
  <div class="attributes">
    <ul>
      <li><span class="attribute"><%= t('tag.non_smoking') %></span></li>
      <li><span class="attribute"><%= t('tag.pet_care_wanted') %></span></li>
      <li><span class="attribute"><%= t('tag.use_exchange_of_car') %></span></li>
      <li><span class="attribute"><%= t('tag.children_welcome') %></span></li>
      <li><span class="attribute"><%= t('tag.pets_welcome') %></span></li>
    </ul>
  </div>
</article>