<% body_id 'about-intervac' %>
<% page_title t('visinfo_secure_exchanges.page.headline') %>
<% page_description t('visinfo_secure_exchanges.page.headline') + " - " + t('visinfo_secure_exchanges.trust_a_stranger.headline') %>
<% page_keywords t('seo.keyword_set.visinfo.secure_exchanges') %>
<% section_image 'section-image-11' %>


<div class="row">
  <%= render(:partial => 'pages/intervac/sub_menu') %>
  <article class="page-content">
    <h1 class="page-content-header">
      <span class="page-content-header-label"><%= t('visinfo_secure_exchanges.page.headline') %></span>
    </h1>

    <h2><%= t('visinfo_secure_exchanges.trust_a_stranger.headline') %></h2>
    <p><%= t('visinfo_secure_exchanges.trust_a_stranger.not_a_stranger') %></p>
    <p><%= t('visinfo_secure_exchanges.trust_a_stranger.our_members') %></p>

    <h2><%= t('visinfo_secure_exchanges.member_references.headline') %></h2>
    <p><%= t('visinfo_secure_exchanges.member_references.text') %></p>
  </article>
</div>
