<% body_id 'about-intervac' %>
<% page_title t('testimonials.page.headline') %>
<% page_description t('testimonials.page.headline') + " - " + t('testimonials.local_1.headline') %>
<% page_keywords t('seo.keyword_set.testimonials') %>
<% section_image 'section-image-12' %>

<div class="row">
  <%= render(:partial => 'pages/intervac/sub_menu') %>
  <section class="page-content">
    <h1 class="page-content-header">
      <span class="page-content-header-label"><%= t('testimonials.page.headline') %></span>
    </h1>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_1.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_1.cite') %>">
        <p><%= t('testimonials.local_1.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_1.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_2.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_2.cite') %>">
        <p><%= t('testimonials.local_2.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_2.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_3.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_3.cite') %>">
        <p><%= t('testimonials.local_3.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_3.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_4.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_4.cite') %>">
        <p><%= t('testimonials.local_4.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_4.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
    <h2 class="testimonial-header"><%= t('testimonials.local_5.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_5.cite') %>">
        <p><%= t('testimonials.local_5.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_5.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_6.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_6.cite') %>">
        <p><%= t('testimonials.local_6.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_6.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_7.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_7.cite') %>">
        <p><%= t('testimonials.local_7.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_7.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_8.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_8.cite') %>">
        <p><%= t('testimonials.local_8.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_8.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_9.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_9.cite') %>">
        <p><%= t('testimonials.local_9.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_9.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_10.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_10.cite') %>">
        <p><%= t('testimonials.local_10.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_10.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_11.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_11.cite') %>">
        <p><%= t('testimonials.local_11.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_11.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_12.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_12.cite') %>">
        <p><%= t('testimonials.local_12.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_12.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_13.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_13.cite') %>">
        <p><%= t('testimonials.local_13.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_13.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_14.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_14.cite') %>">
        <p><%= t('testimonials.local_14.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_14.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_15.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_15.cite') %>">
        <p><%= t('testimonials.local_15.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_15.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_16.headline') %></h2>
      <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_16.cite') %>">
        <p><%= t('testimonials.local_16.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_16.cite') %></span>
      </blockquote>
    </article>

    <article class="testimonial">
      <h2 class="testimonial-header"><%= t('testimonials.local_17.headline') %></h2>
        <blockquote class="testimonial-quote" cite="<%= t('testimonials.local_17.cite') %>">
        <p><%= t('testimonials.local_17.text') %></p>
        <span class="testimonial-citation">- <%= t('testimonials.local_17.cite') %></span>
      </blockquote>
    </article>
  </section>
</div>
