<div class="languages">
  <%= link_to(t('navigation.crosslinks.choose_language'), '#', :id => 'close-languages', :class => 'close') %>
  <ul id="languages">
    <li><%= link_to('Dansk', switch_language_path('da_DK')) %></li>
    <li><%= link_to('Deutsch', switch_language_path('de_DE')) %></li>
    <li><%= link_to('English', switch_language_path('en_GB')) %></li>
    <li><%= link_to('Español', switch_language_path('es_ES')) %></li>
    <li><%= link_to('Français', switch_language_path('fr_FR')) %></li>
    <li><%= link_to('Greek', switch_language_path('el_GR')) %></li>
    <li><%= link_to('Islenska', switch_language_path('is_IS')) %></li>
    <li><%= link_to('Italiano', switch_language_path('it_IT')) %></li>
    <li><%= link_to('Japanese', switch_language_path('ja_JP')) %></li>
    <li><%= link_to('Nederlands', switch_language_path('nl_NL')) %></li>
    <li><%= link_to('Nederlands BE', switch_language_path('nl_BE')) %></li>
    <li><%= link_to('Norsk', switch_language_path('no_NO')) %></li>
    <li><%= link_to('Polski', switch_language_path('pl_PL')) %></li>
    <li><%= link_to('Português', switch_language_path('pt_PT')) %></li>
    <li><%= link_to('Русский', switch_language_path('ru_RU')) %></li>
    <li><%= link_to('Romanian', switch_language_path('ro_RO')) %></li>
    <li><%= link_to('Svenska', switch_language_path('sv_SE')) %></li>
    <li><%= link_to('Suomeksi', switch_language_path('fi_FI')) %></li>
  </ul>
</div>