<div class="col-md-4">
	<span class="usp"><%= t('application.plans_and_pricing.usp1') %></span>
	<span class="usp"><%= t('application.plans_and_pricing.usp2') %></span>
</div>
<div class="col-md-4">
	<span class="usp"><%= t('application.plans_and_pricing.usp3') %></span>
	<span class="usp"><%= t('application.plans_and_pricing.usp4') %></span>
</div>
<div class="col-md-4">
	<span class="usp"><%= t('application.plans_and_pricing.usp5') %></span>
	<span class="usp"><%= t('application.plans_and_pricing.usp6') %></span>
</div>