<div class="row">
  <div class="span12">

    <div class="box">
      <h1 class="box"><%= t('errors.messages.not_found') %></h1>
      <div class="alert alert-warning">
        <p class="alert-message"><%= t('alert.information_could_not_be_found') %></p>
      </div>

      <% if user_signed_in? then %>
        <p><%= t('pages.no_access.use_the_back_button') %> <%= link_to(t('global.listings'), listings_url) %></p>
      <% else %>
        <p><%= t('pages.no_access.phrase.not_logged_in_start') %> <%= link_to(t('pages.no_access.log_in_here'), login_url) %> <%= t('pages.no_access.info.text.enjoy_benefits_of_intervac') %></p>
      <% end %>
      <p><%= t('global.phrases.have_a_really_nice_day') %></p>
    </div>

  </div>
</div>
