<h1 class="section-nav-header no-border"><i class="icon-home"></i> <%= t('menu.member_home') %></h1>
<nav class="section-nav" role="primary">
  <ul class="nav nav-tabs nav-stacked">
    <li><%= link_to(content_tag('i','', class: 'icon-chevron-right') + t('menu.search'), searches_index_url) %></li>
    <li><%= messages_menu_helper(@unread_messages, t('menu.messages'), conversations_path) %></li>
    <li><%= link_to(content_tag('i','', class: 'icon-chevron-right') + t('menu.statistics'), listing_statistics_url) %></li>
    <li><%= link_to(content_tag('i','', class: 'icon-chevron-right') + t('menu.match_alert'), account_match_alerts_path(account)) %></li>
    <li><%= link_to(content_tag('i','', class: 'icon-chevron-right') + t('menu.favorites'), favorites_url) %></li>
    <li><%= link_to(content_tag('i','', class: 'icon-chevron-right') + t('menu.destination_wishlist'), account_wish_lists_path(current_user.account_id)) %></li>
  </ul>
</nav>