<% section_image 'section-image-5' %>
<div class="row">
    <div class="wide">
        <h1 class="top-header left">
            <span class="top-header-label"><%= t('users.header.reset_your_password') %></span>
        </h1>

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => 'form-vertical'}) do |f| %>
            <%= render(partial: '/users/shared/resource_error_message', locals: {resource: resource}) %>
            <fieldset>
                <%= f.label :email, t('users.label.registered_email') %>
                <%= f.email_field :email, class: 'w50', placeholder: t('users.placeholder.email_used_for_intervac') %>
            </fieldset>

            <fieldset class="form-actions">
                <%= f.button(t('button.send_instructions'), class: 'btn blue' ) %>
                <%= link_to(t('global.cancel'), login_url, class: 'btn btn-link') %>
            </fieldset>
        <% end %>
    </div>
</div>