<% body_id "faq" %>
<div class="wide">
  <article>
    <header>
      <h1 class="page-header-divider">
        <span class="page-header-divider-label">Frequently Asked Questions</span>
      </h1>
    </header>

    <p>Click on a question to reveal the answer and send us an email to: <strong><i>ask@intervac.com</i></strong>, if you have a question that isn't answered here.  You're probably not the only one...

    <!-- LIST GROUP: TRIAL MEMBERSHIP -->
    <div id="accordion" class="panel-group">
      <h3 class="faqHeader">Trial Membership</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-save_search"> Does the trial membership actually allow an exchange of homes?</a>
          </h4>
        </div>
        <div id="collapse-save_search" class="panel-collapse collapse">
          <div class="panel-body">
            <p>It does.  Currently our trial membership is 20 days and you receive access to all the functionality our regular members have.  This includes our full featured search and messaging so that you can arrange an exchange.</p>
            <p>Trial members' listings are marked as such with a "Trial" badge and our members are very friendly and willing to exchange.  Of course, we hope that after your trial is over, you will pay for a membership and join our community as a full member.</p>
            <p>You can find out more about <a href="https://blog.intervac-homeexchange.com/how-to-become-a-platinum-member/">how to become a platinum member</a> here</p>.
          </div>
        </div>
      </div>
    </div>



  <!-- LIST GROUP: FINDING A PARTNER -->
    <div id="accordion.panel-group">

      <h3 class="faqHeader">Finding a Partner</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-contact-wo-listing">How can I contact other members without making a listing myself?</a>
          </h4>
        </div>
        <div id="collapse-contact-wo-listing" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Hmm, we don't think this would be fair to our other members and so it is not possible to make contact before completing your own listing. In order to arrange an exchange, your prospective partner will want to know more about you and your home.  They will want to see photos of your home - their (maybe) vacation home.  It's exciting and it's fun.</p>
            <p>As soon as you have completed your listing, you can contact other members via a button on their listing and our messaging system.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-no-contact-button">When I go to a listing, I don't see the contact button.</a>
          </h4>
        </div>
        <div id="collapse-no-contact-button" class="panel-collapse collapse">
          <div class="panel-body">
            <p>If you can't see the contact button on another member's listing it is usually because you are not logged-in to your Intervac account.  You can <a href="https://intervac-homeexchange.com/price-plans?utm_source=intervacblog&utm_medium=blog&utm_campaign=FAQ">log in here</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-search-available-listings">How can I search only listings available for exchange?</a>
          </h4>
        </div>
        <div id="collapse-search-available-listings" class="panel-collapse collapse">
          <div class="panel-body">
            <p>In the "Preferences" section of our search filters you will find a checkbox called "Open for Exchange".  Check that and our search engine will only return listings currently open for an exchange.</p>
            <p class="read-more">Find out more about our <a href="https://blog.intervac-homeexchange.com/lots-of-search-filters/">search filters</a>.
            </p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-save-search-criteria">Can I save my search criteria?</a>
          </h4>
        </div>
        <div id="collapse-save-search-criteria" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You sure can! Just set up your filters and save them with the "Saved Search" dialog at the bottom of the search filters.</p>
            <p>It's pretty self-explanatory but it is important to know that this saves your search criteria.  Your search results will be different (to some extent) each time you run the search.  The results depend on information in other member's listings.</p>
            <p class="read-more">If you'd prefer to have <a href="https://blog.intervac-homeexchange.com/saving-search-criteria/">step-by-step instructions</a>, we've got those too.
            </p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-badge_meaning">What do those silver, gold, platinum badges mean?</a>
          </h4>
        </div>
        <div id="collapse-badge_meaning" class="panel-collapse collapse">
          <div class="panel-body">
            <p>The badges are awarded based on the number of exchanges a family has made.  The scale looks like this:</p>
            <ul class="unstyled">
              <li><%= image_tag 'badges/ready.png' %> Ready to Go = brand new home exchangers</li>
              <li><%= image_tag 'badges/bronze.png' %> Bronze = 1 -2 exchanges</li>
              <li><%= image_tag 'badges/silver.png' %> Silver = 3 - 5 exchanges</li>
              <li><%= image_tag 'badges/gold.png' %> Gold = 6 - 10 exchanges</li>
              <li><%= image_tag 'badges/platinum.png' %> Platinum = 11 or more exchanges</li>
            </ul>
            <p class="read-more">Read more in our guide: <a href="https://blog.intervac-homeexchange.com/how-to-become-a-platinum-member/">How to Become a Platinum Member</a>.
            </p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-find_references">Where do I find a member's references</a>?
          </h4>
        </div>
        <div id="collapse-find_references" class="panel-collapse collapse">
          <div class="panel-body">
            <p>When looking at a member's listing, you will find their references at the bottom of the Listing Overview tab.</p>
            <p><%= image_tag 'faq/listing-where_are_references.png' %></p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-add_to_hotlist">How do I add my listing to the Hotlist?</a>
          </h4>
        </div>
        <div id="collapse-add_to_hotlist" class="panel-collapse collapse">
          <div class="panel-body">
            <ol>
              <li>Be sure you are logged in to your Intervac account.</li>
              <li>Click on <span class="ivac-click">Change My Listing</span>in the member homepage navigation.</li>
              <li>Click the <span class="ivac-click">Show listing in the Hotlist?</span> toggle switch.</li>
              <li>All finished.</li>
            </ol>
            <p class="read-more">More info and screenshots in this article: <a href="https://blog.intervac-homeexchange.com/hotlist-for-last-minute-home-exchanges/">All About the Hotlist</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-length_of_hotlist">How long does my listing stay on the Hotlist?</a>
          </h4>
        </div>
        <div id="collapse-length_of_hotlist" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Four days and then it is automatically removed.  You can add it again though if you are still looking for an exchange.</p>
            <p class="read-more">More info and screenshots in this article: <a href="https://blog.intervac-homeexchange.com/hotlist-for-last-minute-home-exchanges/"> All About the Hotlist</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed inline" data-parent="#accordion" data-toggle="collapse" href="#collapse-contact_favourite">How do I contact the owner of a listing I have saved to My Favourites?</a>
          </h4>
        </div>
        <div id="collapse-contact_favourite" class="panel-collapse collapse">
          <div class="panel-body">
            <p>To make contact with the owners of a listing on your Favourites page, click the green "Contact" button underneath the photo.  This will open up the contact dialog and from there you can request an exchange or start a conversation. To close the contact dialog, click the "hide" button.</p>
            <p class="read-more">More info and screenshots here: <a href="https://blog.intervac-homeexchange.com/my-favourites/">My Favourites</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-contact_multiple_favourites">How do I contact multiple listings on My Favourites list?</a>
          </h4>
        </div>
        <div id="collapse-contact_multiple_favourites" class="panel-collapse collapse">
          <div class="panel-body">
            <p>To make contact with multiple listing owners all saved to your Favourites, use the "Contact multiple favourites" link in the member navigation</p>
            <p class="read-more">More info and screenshots here: <a href="https://blog.intervac-homeexchange.com/my-favourites/"> My Favourites</a>
              <br /> scroll down to the section "Contacting Multiple Members at Once".</p>
          </div>
        </div>
      </div>
    </div>


    <!-- LIST GROUP: ARRANGING YOUR EXCHANGE -->
    <div id="accordion.panel-group">
      <h3 class="faqHeader">Arranging Your Exchange</h3>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-exagree_hows_it_work">How does the Exchange Agreement work?</a>
          </h4>
        </div>
        <div id="collapse-exagree_hows_it_work" class="panel-collapse collapse">
          <div class="panel-body">
            <p>That is a short question with a long answer.  You can find everything you ever wanted to know in our series:  <a href="https://blog.intervac-homeexchange.com/starting-an-exchange-agreement/"> About Exchange Agreements</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-exagree_contact_partner">Easiest way to contact my partner from Exchange Agreements?</a>
          </h4>
        </div>
        <div id="collapse-exagree_contact_partner" class="panel-collapse collapse">
          <div class="panel-body">
            <p>From the Exchange Agreements page, click on your partner's listing id.  The link goes to their listing and from there, you can use the "Contact Member" button.</p>
            <p class="read-more">For more information, check out our <a href="https://blog.intervac-homeexchange.com/starting-an-exchange-agreement/">About Exchange Agreements</a> series.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#future_exchanges">Do my future exchanges count in the number of exchanges on my listing?</a>
          </h4>
        </div>
        <div id="future_exchanges" class="panel-collapse collapse">
          <div class="panel-body">
            <p>No, not until they are past exchanges.  The system will automatically update the number of exchanges on your listing after the dates you filled into the exchange agreement have passed.</p>
          </div>
        </div>
      </div>
    </div>


    <!-- LIST GROUP: YOUR MEMBERSHIP -->
    <div id="accordion.panel-group">
      <h3 class="faqHeader">Your Membership</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-renew">How do I renew my membership?</a>
          </h4>
        </div>
        <div id="collapse-renew" class="panel-collapse collapse">
          <div class="panel-body">
            <p class="center">Just log-in to your intervac account and click the link in the box on your member home page.</p>
            <%= image_tag 'faq/member-renew_membership.png' %>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-second_home">How can I offer a second home for exchange?</a>
          </h4>
        </div>
        <div id="collapse-second_home" class="panel-collapse collapse">
          <div class="panel-body">
            <p>It's easy. Just contact your national representative and ask them to add second listing functionality to your account.</p>
            <p>When they are finished, you'll see an option to make a new listing on your member homepage.</p>
            <p>Just click the green button and you'll be ready to start filling in the details.</p>
            <%= image_tag 'faq/member-make_new_listing.png' %>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-change_password">How can I change my password?</a>
          </h4>
        </div>
        <div id="collapse-change_password" class="panel-collapse collapse">
          <div class="panel-body">
            <p>It's easy. If you can login, click on <span>Emails and Logins</span> in the member home navigation to get to the change password function.</p>
            <p>If you can't login, you can either use the <span>I forgot my password</span> link on the login page, or you can contact your <a href="http://intervac-homeexchange.com/representatives?utm_source=intervacblog&utm_medium=blog&utm_campaign=FAQ"> national representative</a> and they can change it for you.
            </p>
            <p class="read-more">For screenshots and more information have a look at the <a href="https://blog.intervac-homeexchange.com/changing-your-password/">Changing Your Password</a> article in our guide.
            </p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-change-childrens-age">How can I change my son's birth year?</a>
            <span class="label label-info">NEW!</span>
          </h4>
        </div>
        <div id="collapse-change-childrens-age" class="panel-collapse collapse">
          <div class="panel-body">
            <ol>
              <li>Go to "Change Listing" > "Family Text and Photos"</li>
              <li>Scroll down to the section titled: Children</li>
              <li>Click the edit link next to the child you wish to change.</li>
              <li>Don't forget to save when you are finished.</li>
            </ol>
            <%= image_tag 'faq/listing-edit-childrens-ages.jpg' %>
            <p class="read-more">For screenshots and more information have a look at the <a href="https://blog.intervac-homeexchange.com/changing-your-password/">Changing Your Password</a> article in our guide.
            </p>
          </div>
        </div>
      </div>
    </div>


    <!-- LIST GROUP: YOUR LISTING -->
    <div id="accordion.panel-group">
      <h3 class="faqHeader">Your Listing</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-references"> References are confusing.  Can you explain them, please?</a>
          </h4>
        </div>
        <div id="collapse-references" class="panel-collapse collapse">
          <div class="panel-body">
            <p>References seem complicated because our system gives you control over which of your partners appear on your listing --and-- for whom you are willing to provide references.</p>
            <p class="read-more">For screenshots and more information have a look at <a href="https://blog.intervac-homeexchange.com/understanding-references/">Understanding References</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-family-text-photos"> How can I adjust the number of adults in our family?</a>
          </h4>
        </div>
        <div id="collapse-family-text-photos" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You can edit the information about your family and your pets on the same page as you upload your family photos.  To get there from your member homepage click on
              <br /><span>Change My Listing</span> in the left-column navigation.
              <br />Next click on <span>Family Text and Photos</span>.
            </p>
            <p>From there scroll down to the section titled Adults and Occupations.  You can set the number of adults and add their professional occupations too.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-format_text">How can I format the text in my listing description?</a>
          </h4>
        </div>
        <div id="collapse-format_text" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Our listings support the use of <a href="http://daringfireball.net/projects/markdown/">Markdown</a> for formatting text in your listing.  With Markdown you can easily make your text bold and italic, add links and lists too.</p>
            <p class="read-more">Read more about it in our tutorial: <a href="https://blog.intervac-homeexchange.com/formatting-text-in-your-listing/"> Formatting Text in Your Listing</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-format_links">How can I add links inside my listing?</a>
          </h4>
        </div>
        <div id="collapse-format_links" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Our listings support the use of <a href="http://daringfireball.net/projects/markdown/">Markdown</a> for formatting text in your listing.  With Markdown you can easily make your text bold and italic, add links and lists too.</p>
            <p class="read-more">Read more about it in our tutorial: <a href="https://blog.intervac-homeexchange.com/formatting-text-in-your-listing/"> Formatting Text in Your Listing</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-set_google_marker">Google can't find my address.  How can I set the marker manually?</a>
          </h4>
        </div>
        <div id="collapse-set_google_marker" class="panel-collapse collapse">
          <div class="panel-body">
            <p>To override Google's positioning, you can drag and drop the icon to wherever your house actually is on the map.  You can safely ignore the Google address that is shown just below the address box.   After placing the marker where you want it - remember to save and it should appear properly on your listing from now on.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-listing-neighbourhood">Can I add the nearest airport to my listing?</a>
          </h4>
        </div>
        <div id="collapse-listing-neighbourhood" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You can and it's easy.  In the Neighbourhood section of your listing (Change My Listing > Neighbourhood Text and Photos) you will find the necessary form to add both the nearest airport and the distance from your home.</p>
            <p class="read-more">Screenshots and full instructions in the <a href="https://blog.intervac-homeexchange.com/the-nearest-airport-to-your-exchange-home/">Nearest Airport</a> article in our guide.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-add_icons_to_map">How do I add neighbourhood icons to my map?</a>
          </h4>
        </div>
        <div id="collapse-add_icons_to_map" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Adding icons to your map is not difficult but we thought it would be easier to explain with a few pictures.  You can read our complete article on <a href="https://blog.intervac-homeexchange.com/adding-icons-to-your-neighbourhood-map/">adding neighbourhood icons to your map</a> in our guide.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-multi_use_icons">Can I use the icons on my neighbourhood map more than once?</a>
          </h4>
        </div>
        <div id="collapse-multi_use_icons" class="panel-collapse collapse">
          <div class="panel-body">
            <p>No, at the moment, you can't.</p>
            <p>When deciding which functionality to implement next, we pay particular attention to the stated wishes of our members soooo, if you would like to be able to use the icons on your neighbourhood map more than once, please feel free to <a href="mailto:editor@intervac.com">send us an email</a> or contact your national organizer via our <a href="http://intervac-homeexchange.com/feedbacks/new?utm_source=intervacblog&utm_medium=blog&utm_campaign=FAQ">web feedback form</a>.</p>
            <p>We look forward to hearing from you!</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-become_platinum">How can  I get to be a platinum member?</a>
          </h4>
        </div>
        <div id="collapse-become_platinum" class="panel-collapse collapse">
          <div class="panel-body">
            <p>In order to be a platinum member at Intervac, you'll need to complete at least 11 registered exchanges.</p>
            <p class="read-more">Read more about member badges and <a href="https://blog.intervac-homeexchange.com/how-to-become-a-platinum-member/">how to become a platinum member</a>here.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-changing_main_photo">I am having trouble changing my main photo</a>
          </h4>
        </div>
        <div id="collapse-changing_main_photo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>If you are having trouble replacing your main photo with a new one, be sure that you have added some text into your home description.  To do that you will need to change to the Home photos & texts section.</p>
            <p>Also keep in mind that photo file sizes can not exceed 10MB.</p>
            <p class="read-more">Read more about <a href="https://blog.intervac-homeexchange.com/how-to-change-your-main-photo/">how to change your main photo</a></p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-photo-display">My photos uploaded sideways and upside-down.  Now what?</a>
          </h4>
        </div>
        <div id="collapse-photo-display" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You can rotate your photos with just a click.  Here is a short article and some screenshots on <a href="https://blog.intervac-homeexchange.com/how-to-rotate-your-photos/">How to Rotate Uploaded Photos</a>.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-sort_photos">How can I sort the order of my photos?</a>
          </h4>
        </div>
        <div id="collapse-sort_photos" class="panel-collapse collapse">
          <div class="panel-body">
            <p><img src="/assets/pages/guide/photos-photo_card.png" class="img-responsive" alt="Sortable photo card" width="657" height="109"></p>
            <p>It's really easy! You can sort your photos via drag-and-drop.  Click on the the <i class="fa fa-arrows-alt"></i> icon to drag and drop your photos in the order you want them to be displayed on your listing.</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-photo-display-members-only">Can I show my photos to members only?</a>
          </h4>
        </div>
        <div id="collapse-photo-display-members-only" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Your main photo will always be shown on your listing.  For all of your other photos, you can choose which ones are displayed to visitors as well as members, and which are only shown to members after login.</p>
            <%= image_tag 'faq/photos-show_to_members_only.png' %>
            <p class="caption">To change the display of your photo to members only, click on the link beside your photo.</p>
            <%= image_tag 'faq/photos-show_to_everyone.png' %>
            <p class="caption">Click again to change it back.</p>
          </div>
        </div>
      </div>
    </div>


    <!-- LIST GROUP: AT YOUR PARTNER'S HOME -->
    <div id="accordion.panel-group">
      <h3 class="faqHeader">At Your Partner's Home</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-minor_accidents">How should we handle minor accidents at our exchange partner's home?</a>
          </h4>
        </div>
        <div id="collapse-minor_accidents" class="panel-collapse collapse">
          <div class="panel-body">
            <p>In the case of minor unintended damage the best thing to do is inform your partner of the incident as soon as possible.  Accidental damages – or domestic accidents of everyday life - are best solved directly between Intervac partners.</p>
            <p>Tell your partner what happened and describe the damage.  They are your best source of good advice regarding which product available in their country could fix the damage or, if you can not fix it yourself, your partner could have a preferred handyman or service to call. Depending on the gravity of the damage, insurance might be involved to cover a part or all of the replacement costs.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
