<div class="row">
  <div class="span12">
    <%= render(partial: 'listings/listings_menu', locals: {listing: @listing}) %>
    <h1 class="page-header"><%= t('global.overview') %></h1>  
  </div>
</div>

<% if not @listing.is_valid_for_public %>
  <div  class="row margin-bottom">
      <div class="span12">
        
        <div class="alert alert-danger">
          <p class="alert-message"><%= t('listings.alert.message.your_listing_is_not_online_veryify_information') %></p>
        </div>
        
        <ul class="missing-params">
          <% if @active_listing.is_missing_field(:headline) then %>
            <li>
              <%= t('listings.progress.label.headline') %>
              <%= link_to(t('button.write_a_headline'), edit_listing_description_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:description) then %>
            <li>
              <%= t('listings.label.describe_your_listing') %>
              <%= link_to(t('button.write_description'), edit_listing_description_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:property_type) then %>
            <li>
              <%= t('listings.label.what_kind_of_property_is_your_home') %>
              <%= link_to(t('button.set_property_type'), edit_listing_description_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:sleeping_capacity) then %>
            <li>
              <%= t('listings.progress.how_many_people_can_sleep_in_your_home') %>
              <%= link_to(t('button.set_sleeping_capacity'), edit_listing_description_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:children_preferences) then %>
            <li>
              <%= t('listings.children_welcome') %>
              <%= link_to(t('global.yes_or_no'), edit_listing_description_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:pets_preferences) then %>
            <li>
              <%= t('listings.pets_welcome') %>
              <%= link_to(t('global.yes_or_no'), edit_listing_description_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:main_photo) then %>
            <li>
              <%= t('listings.text.info.show_the_best_side_of_your_home') %>
              <%= link_to(t('button.set_main_photo'), listing_images_url(@listing)) %>
            </li>
          <% end %>
          <% if @active_listing.is_missing_field(:exchange_dates) then %>
            <li>
              <%= t('listings.progress.missing_exchange_dates') %>
              <%= link_to(t('exchange_dates.add_dates'), listing_exchange_dates_url(@listing)) %>
            </li>
          <% end %>

        </ul>
        
        
        <%= render( partial: 'listings/listing_overview', object: @listing, as: 'listing', locals: {:page => 'not_ready'} ) %>
      </div>
  </div>
  
<% else %>


  <div class="row margin-botton">
    <div class="span12">
      <% if @listing.active === true and not @listing.is_expired %>
      <div class="alert alert-success">
        <p class="alert-message"><strong><%= t('listings.alert.message.this_is_great') %></strong> <%= t('listings.alert.message.listing_is_online_and_visible_for_guests_and_members') %></p>
      </div>
      <% end -%>
      <% if permitted_to? :enable, :member_listings %>
      
        <% if @listing.active === false and not @listing.is_expired %>
          <div class="alert alert-info">
            <p class="alert-message"><%= t('listings.alert.message.listing_is_not_visible_for_members_activate_your_listing_for_public_view') %></p>
          </div>
        <% elsif @listing.is_expired %>
        <div class="alert alert-warning">
          <p class="alert-message"><%= t('listings.alert.message.subscription_has_expired_need_to_renew_your_subscription_to_have_visible_listing') %></p>
        </div>
        
        <% end -%>
      
      <% else %>
        <div class="alert alert-warning">
          <p class="alert-message"><%= t('listings.alert.message.your_current_membership_does_not_allow_you_to_have_public_listings') %></p>
        </div>
      <% end %>
      
      <%= render( partial: 'listings/listing_overview', object: @listing, as: 'listing', locals: {:page => 'show'} ) %>
    </div>
  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
   $('a.listing.disabled').tooltip();
</script>
