<div class="row-fluid">
  <div class="span12">
    <% for t in @translations%>
        
        <%= form_tag(admin_translation_url(t[:_id]), :method => "put", :class => "form-vertical translation-form well", :remote => true ) do %>
          <fieldset class="form-group">
            <label><%= @default_translations.where(msgid: t[:msgid]).first.get_value%></label>
            <%= text_area_tag(:value, t.get_value, {:id => nil, :class=>'span12 translation', :rows=>4}) %>
          </fieldset>
          <%= hidden_field_tag(:id, t[:_id]) %>
          <p id="<%= t[:msgid].gsub('.', '-') %>" class="translation-help hidden">
            <em><%= t[:msgid] %></em>
          </p>
          <% if @locale == 'en'%>
            <fieldset class="form-group">
              <label>Category <em>This will change the category for all languages</em></label>
              <%= text_field_tag(:category, t.category, {:id => nil, :class=>'span12 translation typeahead', :'data-source' => @categories.to_json}) %>
            </fieldset>
            
            <fieldset class="form-group">
              <label>Placeholders <em>This will change the field codes for all languages</em></label>
              <%= text_field_tag(:field_codes, t.field_codes, {:id => nil, :class=>'span12 translation'}) %>
            </fieldset>
          <% end %>
        

        <fieldset class="form-actions">
          <%= button_tag(t('button.save_changes'), class: 'btn') %>
          <a href="#" rel="<%= t[:msgid].gsub('.', '-') %>" class="show-help">Show msgid</a>
        </fieldset>
        <% end %>
    <% end %>
  </div>
</div>