<% body_id 'legal' %>
<% page_title t('privacy.privacy_policy') %>
<% page_description t('privacy.privacy_policy') + " - " + t('privacy.protection_headline') %>
<% page_keywords t('seo.keyword_set.privacy_policy') %>
<% section_image 'section-image-5' %>

<div class="row">
    <article class="legal-text">
        <h1 class="top-header">
            <span class="top-header-label"><%= t('privacy.privacy_policy') %></span>
        </h1>

        <p><%= t('privacy.only_non-commercial') %></p>
        <p><%= t('privacy.cross-posting_not_allowed') %></p>
        <p><%= t('privacy.responsibility_lies_with_member') %></p>

        <h2><%= t('privacy.protection_headline') %></h2>
        <p><%= t('privacy.intro_and_no_sell') %></p>

        <h2><%= t('privacy.security_headline') %></h2>
        <p><%= t('privacy.stored_in_database') %></p>
        <p><%= t('privacy.receive_email_updates') %></p>

        <h2><%= t('privacy.ip_and_links_headline') %></h2>
        <p><%= t('privacy.ip_not_personal') %></p>
        <p><%= t('privacy.outside_links_disclaimer') %></p>

        <h2><%= t('privacy.cookies_headline') %></h2>
        <p><%= t('privacy.cookies_text') %></p>
        <p><%= t('privacy.security_questions') %></p>

        <h2><%= t('privacy.how_to_contact_headline') %></h2>
        <p><%= t('privacy.how_to_contact_text') %></p>

        <h2><%= t('privacy.changes_headline') %></h2>
        <p><%= t('privacy.changes_text') %></p>
    </article>
</div>