<% body_id 'legal' %>
<% page_title t('terms_of_use.headline') + " — " + t('terms_of_use.subhead') %>
<% page_description t('terms_of_use.headline') + " - " + t('terms_of_use.fundamental_principals.headline') %>
<% page_keywords t('seo.keyword_set.terms_and_conditions') %>
<% section_image 'section-image-5' %>

<div class="row">
    <article class="legal-text">
        <h1 class="top-header">
            <span class="top-header-label"><%= t('terms_of_use.headline') %> — <%= t('terms_of_use.subhead') %></span>
        </h1>

        <h2><%= t('terms_of_use.fundamental_principals.headline') %></h2>
        <ol>
            <li><%= t('terms_of_use.fundamental_principals.fair_and_honest') %>
                <ol>
                    <li><%= t('terms_of_use.fundamental_principals.offer_is_accurate') %></li>
                    <li><%= t('terms_of_use.fundamental_principals.negotiate_in_good_faith') %></li>
                    <li><%= t('terms_of_use.fundamental_principals.courteous_and_responsive') %></li>

                </ol>
            </li>
            <li><%= t('terms_of_use.fundamental_principals.protect_our_reputation') %></li>
        </ol>

        <h2><%= t('terms_of_use.cancellation.headline') %></h2>
        <ol>
            <li><%= t('terms_of_use.cancellation.not_without_valid_reason') %></li>
            <li><%= t('terms_of_use.cancellation.must_inform_agent') %></li>
        </ol>

        <h2><%= t('terms_of_use.consequences.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.consequences.member_responsibilities') %></li>
        </ul>

        <h2><%= t('terms_of_use.complaints.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.complaints.liability_for_termination') %></li>
        </ul>

        <h2><%= t('terms_of_use.offered_home.headline') %></h2>
        <ol>
            <li><%= t('terms_of_use.offered_home.intro_text') %>
                <ol>
                    <li><%= t('terms_of_use.offered_home.is_available') %></li>
                    <li><%= t('terms_of_use.offered_home.is_insured') %></li>
                    <li><%= t('terms_of_use.offered_home.is_clean') %></li>
                    <li><%= t('terms_of_use.offered_home.is_same_as_listing') %></li>
                </ol>
            </li>
        </ol>

        <h2><%= t('terms_of_use.motor_vehicles.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.motor_vehicles.member_responsibilities') %></li>
        </ul>

        <h2><%= t('terms_of_use.respect_for_property.headline') %></h2>
        <ol>
            <li><%= t('terms_of_use.respect_for_property.yes_you_must') %>
                <ol>
                    <li><%= t('terms_of_use.respect_for_property.keep_it_secure') %></li>
                    <li><%= t('terms_of_use.respect_for_property.accept_responsibility') %></li>
                </ol>
            </li>
        </ol>

        <h2><%= t('terms_of_use.pets.headline') %></h2>
        <ol>
            <li><%= t('terms_of_use.pets.cleanliness') %></li>
            <li><%= t('terms_of_use.pets.standards') %></li>
        </ol>

        <h2><%= t('terms_of_use.home_country.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.home_country.required_on_registration') %></li>
        </ul>

        <h2><%= t('terms_of_use.listing_currency.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.listing_currency.member_responsibilities') %></li>
        </ul>

        <h2><%= t('terms_of_use.database.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.database.for_home_exchange_only') %></li>
        </ul>

        <h2><%= t('terms_of_use.confidentiality.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.confidentiality.member_responsibilities') %></li>
        </ul>

        <h2><%= t('terms_of_use.negotiations.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.negotiations.member_responsibilities') %></li>
        </ul>

        <h2><%= t('terms_of_use.fees.headline') %></h2>
        <ul>
            <li><%= t('terms_of_use.fees.must_be_paid') %></li>
        </ul>

        <h2><%= t('terms_of_use.definitions.headline') %></h2>
        <ol>
            <li><%= t('terms_of_use.definitions.board') %></li>
            <li><%= t('terms_of_use.definitions.complaint') %></li>
            <li><%= t('terms_of_use.definitions.database') %></li>

            <li><%= t('terms_of_use.definitions.exchanged_property') %></li>
            <li><%= t('terms_of_use.definitions.home_country') %></li>
            <li><%= t('terms_of_use.definitions.home_exchange') %></li>
            <li><%= t('terms_of_use.definitions.home_exchange_agreement') %></li>
            <li><%= t('terms_of_use.definitions.intervac') %></li>
            <li><%= t('terms_of_use.definitions.member') %></li>

            <li><%= t('terms_of_use.definitions.negotiation') %></li>
            <li><%= t('terms_of_use.definitions.notification') %></li>
            <li><%= t('terms_of_use.definitions.pet') %></li>
            <li><%= t('terms_of_use.definitions.property') %></li>
            <li><%= t('terms_of_use.definitions.representative') %></li>
            <li><%= t('terms_of_use.definitions.rule') %></li>

            <li><%= t('terms_of_use.definitions.standard_form') %></li>
            <li><%= t('terms_of_use.definitions.references_to_plural_singular') %></li>
            <li><%= t('terms_of_use.definitions.references_to_gender') %></li>
            <li><%= t('terms_of_use.definitions.headings_are_convenience') %></li>
        </ol>
    </article>
</div>