<h1><%= t('global.dear') %> <%= @resource.name %>!</h1>

<p><%= t('mailer.text.receiving_this_email_because_you_requested_reset_password_link') %></p>

<p><%= t('mailer.text.reset_and_change_password') %></p>

<p><%= link_to t('button.change_password'), external_domain_link(edit_password_path(@resource, :reset_password_token => @resource.reset_password_token)) %></p>

<p><%= t('mailer.text.if_password_reset_was_not_request') %></p>
<p><%= t('mailer.text.wishing_you_many_successful_exchanges') %> <br /> <%= t('global.the_intervac_team') %></p>