<div class="row mb60">
    <div class="span12">
        <article>
            <h1 class="page-header"><%= t('users.registrations.confirmation.header') %></h1>

            <div class="alert alert-info">
                <p><%= rt('registration.thank_you_text', {:name => @user.name}) %></p>
                <p class="alert-message"><%= t('registration.account_confirmed') %></p>
            </div>

            <h2 class="section-header"><%= t('users.registrations.confirmation.membership_plan') %></h2>

            <dl class="dl-horizontal">
                <dt><%= t('global.name') %>:</dt>
                <dd><%= @price_plan.name %></dd>
                <dt><%= t('global.duration') %>:</dt>
                <dd><%= @price_plan.duration %> <%= @price_plan.periodicity %></dd>
                <dt><%= t('global.price') %>:</dt>
                <dd><%= format_currency(@order.total_amount) %> <%= @price_plan.country.currency %></dd>
            </dl>

            <%= render(partial: '/payment/payment_alternatives') %>
            <%= render(partial: '/payment/orders/skip_to_dashboard_button', locals: {account_id: @user.account_id}) %>
        </article>
    </div>
</div>